body, body.pc {
  background-color: var(--ww_white_bg_1);
}

li, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#use_analysis_container {
  position: absolute;
  top: 60px;
  bottom: 5px;
  left: 7px;
  right: 7px;
}

.chart_title {
  display: inline-block;
  margin: 12px 14px 0;
  text-shadow: 0 0 0 var(--ww_gray_92);
  font-size: 14px;
  font-weight: bold;
}

.analysisTitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin: 0 0 17px 18px;*/
  margin-left: 14px;
  margin-right: 14px;
  font-size: 14px;
  /*padding: 11px 0;*/
  color: var(--ww_black);
}

.category-current {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color: var(--ww_black);
  line-height: 44px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.adr .category-current {
  font-weight: normal;
}

.category-current::after {
  width: 9px;
  height: 9px;
  display: inline-block;
  margin-left: 2px;
  content: ' ';
  background: url("https://wwcdn.weixin.qq.com/node/wework/images/arrow.823377d7e6.png");
  background-size: contain;
  /*display: inline-block;*/
  /*position: absolute;*/
  /*content: ' ';*/
  /*top: 14px;*/
  /*margin-left: 10px;*/
  /*width: 7px;*/
  /*height: 7px;*/
  /*transform: rotate(-45deg);*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-color: transparent transparent #808080 #808080;*/
}

.category-option {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 40px;
  color: var(--ww_gray_50);
}

.category-option li {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  line-height: 1.5;
}

.ios .analysisTitle_title {
  font-weight: 500;
}

.ios .ww_horizontalTab {
  font-size: 12px;
  /*float: right;*/
}

.ios .ww_horizontalTab_tabNav {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.ios .ww_horizontalTab_Nav_item {
  float: left;
  line-height: 20px;
  height: 20px;
  min-width: 50px;
  padding: 0 5px;
  text-align: center;
  border-width: 1px 0;
  border-color: var(--ww_gray_92);
  border-style: solid;
}

.ios .ww_horizontalTab_Nav_item_Curr {
  background: var(--ww_gray_92);
}

.ios .ww_horizontalTab_Nav_itemLink {
  text-align: center;
  white-space: nowrap;
  color: var(--ww_black);
}

.ios .ww_horizontalTab_Nav_item_left {
  border: 1px solid var(--ww_gray_92);
  border-radius: 12px 0px 0px 12px;
  border-right: 0;
}

.ios .ww_horizontalTab_Nav_item_right {
  border: 1px solid var(--ww_gray_92);
  border-radius: 0px 12px 12px 0px;
  border-left: 0;
}

.pc .ww_horizontalTab {
  font-size: 13px;
  /*float: right;*/
}

.pc .ww_horizontalTab_tabNav {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.pc .ww_horizontalTab_Nav_item {
  float: left;
}

.pc .ww_horizontalTab_Nav_item:not(:last-child) {
  margin-right: 20px;
}

.pc .ww_horizontalTab_Nav_item .ww_horizontalTab_Nav_itemLink {
  color: var(--ww_black);
}

.pc .ww_horizontalTab_Nav_item_Curr .ww_horizontalTab_Nav_itemLink {
  color: var(--ww_blue_popover_icon);
}

.pc .ww_horizontalTab_Nav_itemLink {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.pc .analysisTitle {
  color: var(--ww_black);
  margin-left: 16px;
  margin-right: 12px;
  /*padding-top: 12px;*/
  /*padding-bottom: 10px;*/
}

.pc #use_analysis_container {
  left: 8px;
  right: 8px;
  bottom: 9px;
  top: 76px;
}

body.pc {
  min-width: auto;
  min-height: auto;
}

.log_count_chart {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 8px;
  right: 8px;
  bottom: 20px;
}

.log_chartPanel {
  display: block;
  z-index: 10000;
  color: var(--ww_white);
  font-size: 12px;
  padding: 4px 16px;
  padding-top: 5px;
  padding-left: 17px;
}

.log_chartPanel_item {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
}

.log_chartPanel_item {
  vertical-align: top;
  padding-left: 16px;
  height: 34px;
}

.log_chartPanel_item_label {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: left;
}

.log_chartPanel_item_value {
  text-align: left;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  padding: 0px;
}

.log_chartPanel_item_Use {
  position: relative;
  text-align: left;
  font-weight: 500;
  color: var(--ww_white);
}

.log_chartPanel_item_dateWrap {
  line-height: 34px;
  height: 34px;
}

.log_chartPanel_item_date {
  position: relative;
  padding-right: 16px;
}

.log_chartPanel_item_date:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 3px;
  bottom: 3px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.log_chartPanel_item:first-of-type {
  padding-left: 0;
}
